<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.moontree.treekiosk.v3">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/logo500"
        android:roundIcon="@mipmap/logo500"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".NewWebActivity"
            android:exported="true"
    android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
    <action android:name="android.intent.action.VIEW" />
    <category android:name="android.intent.category.DEFAULT" />
    <category android:name="android.intent.category.BROWSABLE" />
    <data android:scheme="app" /> 
         </intent-filter>
        </activity>
        <activity android:name="io.appwrite.views.CallbackActivity" android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="appwrite-callback-treekiosk" />
            </intent-filter>
        </activity>
    </application>
</manifest>
